.footer-project {
    margin-top: 12rem;
    width: 100%;
    margin-bottom: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .cta {
        flex: 0 0 auto;
    }

    &__info {
        margin-top: 5.6rem;
        font-size: 2.4rem;
        line-height: 1.5;


        @include media("<lanscape") {
            font-size: 2rem;
            line-height: 1.6;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3.2rem;

        a {
            margin: 0 .8rem;
            flex: 0 0 calc(16.66% - 1.6rem);
        }
    }
}